.offerContainer {
    width: 80%;
    margin: 20px 130px;
    background-color: #f8f7de;
  }
  .header2,
  .footer {
    background-color: #db6400;
    text-align: center;
    color: white;
    font-style: cursive;
    margin: 0px 2px;
    border-radius: 15px;
  }
  h5,
  h6 {
    margin: 0;
    font-size: 20px;
  }
  .oldPriceClass {
    text-decoration: line-through;
  }
  .offerContainerImage {
    width: 300px;
    height: 300px;
    margin: 0% 10%;
  }